{
  "extends": ["react-app", "airbnb"],
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": "off",
    "template-curly-spacing": "off",
    "indent": "off",
    "no-use-before-define": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off"
  }
}
